* {
    box-sizing: border-box;
    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-track {
        background: #aaa;
    }
    &::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 4px;
    }
}

body {
    padding: 1vw 0 0 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #e8eaee;
    font-family: 'Apercu', 'arial';
}

@font-face {
    font-family: 'Apercu';
    font-weight: 400;
    src: url('../apercu/Apercu Pro Regular.otf');
}

@font-face {
    font-family: 'Apercu';
    font-weight: 400;
    font-style: italic;
    src: url('../apercu/Apercu Pro Italic.otf');
}

@font-face {
    font-family: 'Apercu';
    font-weight: 300;
    src: url('../apercu/Apercu Pro Light.otf');
}


@font-face {
    font-family: 'Apercu';
    font-weight: 300;
    font-style: italic;
    src: url('../apercu/Apercu Pro Light Italic.otf');
}

@font-face {
    font-family: 'Apercu';
    font-weight: 500;
    src: url('../apercu/Apercu Pro Medium.otf');
}

@font-face {
    font-family: 'Apercu';
    font-weight: 500;
    font-style: italic;
    src: url('../apercu/Apercu Pro Medium Italic.otf');
}

@font-face {
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 700;
    src: url('../apercu/Apercu Pro Bold.otf');
}

@font-face {
    font-family: 'Apercu';
    font-weight: 700;
    font-style: italic;
    src: url('../apercu/Apercu Pro Bold Italic.otf');
}