.search {
    background: white;
    padding: 1vw 1.875vw;
    border-radius: 1.563vw;
    width: 53.750vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    input {
        width: 46vw;
        padding: 1vw 1.875vw;
        padding-left: 4.531vw;
        font-size: 1.563vw;
        font-weight: 700;
        background: #F2F4F8;
        border: none;
    }
    img {
        position: absolute;
        width: 1.953vw;
        transform: translateX(1vw);
    }
    button {
        padding: 1vw 1.875vw;
        background: black;
        color: white;
        border: none;
        font-size: 1.563vw;
        font-weight: 700;
    }
}